{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
      </div>
    </div>
    <div class="row equal front-page">
        <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-12">
          <div class="front-page-left-sidebar container">

            <div class="row">
              <div class="col-md-12 col-xs-6">
                <img src="img/portrait_hex.png" alt="Jeremy Peach" />
                <h2>Jeremy Peach</h2>
                <div class="sidebar-words">
                  data scientist at Microsoft,<br />works in R, SQL, and Spark
                </div>
              </div>
              <div class="col-md-12 col-xs-6">
                <div class="sidebar-words" style="margin-top: 12pt;">
                  <div><a href="https://github.com/AnalyticJeremy" target="_blank"><span class="fa fa-github"></span> AnalyticJeremy</a></div>
                  <div><a href="https://twitter.com/AnalyticJeremy" target="_blank"><span class="fa fa-twitter"></span> @AnalyticJeremy</a></div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-7 col-md-9 col-sm-12 right-column">
          <h2 class="section-head"><img src="img/github.svg" />GitHub Highlights</h2>
          <div class="posts-list">
            <article class="post-preview">
                <a href="https://github.com/AnalyticJeremy/Databricks_Examples" target="_blank">
                  <h2 class="post-title">Databricks_Examples</h2>
                </a>
                <div class="post-entry">
                    a collection Databricks notebooks that demonstrate a few techniques for working with the platform
                </div>
              </article>
            <article class="post-preview">
                <a href="https://github.com/AnalyticJeremy/GitHubEcho" target="_blank">
                  <h2 class="post-title">GitHubEcho</h2>
                </a>
                <div class="post-entry">
                    a tool to simulcast your GitHub activity feed to Twitter
                </div>
              </article>
          </div>

          
          <h2 class="section-head"><img src="img/logo.svg" />Most Recent Blog Posts</h2>
          <div class="posts-list">
          {{ range first 2 .Data.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
                {{ if .Params.image }}
                <img src="{{ .Params.image }}" class="img-title" />
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <span class="post-meta">
                {{ range .Params.tags }}
                  #<a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                {{ end }}
                </span>
              {{ end }}
            </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ else }}
          <ul class="pager main-pager">
            <li class="previous">
              <a href="/post">All Posts</a>
            </li>
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
